div.middle {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  /*transform: translateX(+25%);*/
} 

div.surveyRow div.middle{
	/*background-color:white;*/
	/*border-style: solid;
    border-left: thick #2db79c;*/
}
  
h2.center{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
a.center {
	margin-right:70px;
}
div.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body{
	padding-left: 5%;
	padding-right:5%;
	/*background-color: #1abc9c;*/
}

div.row.surveyRow{
	margin-top: 40px;
}

p.question{
	font-style: bold;
	font-size: 18px;
	margin-left: 20px;
	min-height: 50px;
}

p.questionTable{
	font-style: bold;
	font-size: 18px;
	margin-left: 20px;
	min-height: 10px;
}

div.header{
	background: #d6d6d6;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 15px;
	margin-bottom:10px;
}

div.circle_right{
	margin-left:10%;
}

div.footer{
	background: #d6d6d6;
	min-height:14em;
	bottom:0px;
	padding-top:5px;
	padding-left: 30px;
	padding-right: 30px;
}

div.footer p{
	/*bottom:0px*/
}

div.gap{
	height:7em;
}